.intro-header {
  height: unset !important;
}

.intro-2 {
  background: url("../../assets/img/1.jpg") center center;
  background-size: cover;
  -webkit-filter: blur(20px);
}

.view {
  height: 100vh !important;
}


.rgba-gradient .full-bg-img {
}

.full-bg-img {
  height: 100%;
}

.card {
}


.r-input {
  padding: 30px;
}



