<!--Section heading-->
<div class="row animated fadeInRight">
  <!--Grid column-->
  <div class="  col-lg-6 mt-5 mx-auto">
    <mdb-card cascade="true" narrower="true">
      <!--Card image-->
      <div
        class="view view-cascade gradient-card-header blue-gradient narrower z-depth-2 rounded-lg  py-2 m-3 mt-n4 text-center">
        <div class="m-3">
          <h4 class="white-text">请填写预约信息</h4>
        </div>
      </div>
      <!--/Card image-->
      <mdb-card-body>
        <!--Body-->
        <div class="row">
          <!-- 校区 -->
          <div class="col px-20">
            <angular2-multiselect [data]="campusList" [(ngModel)]="campusSelected" (onSelect)="onCampusSelected($event)"
                                  [settings]="campusSettings">
              <c-item>
                <ng-template let-item="item">
                  <label style="min-width: 60%;">{{item.itemName}}</label>
                </ng-template>
              </c-item>
            </angular2-multiselect>
          </div>
          <!-- 实验室 -->
          <div class="col px-20">
            <angular2-multiselect [data]="labList" [(ngModel)]="labSelected" (onSelect)="onLabSelected($event)"
                                  [settings]="labSettings">
              <c-item>
                <ng-template let-item="item">
                  <label style="min-width: 60%;">{{item.itemName}}</label>
                </ng-template>
              </c-item>
            </angular2-multiselect>
          </div>
        </div>

        <div class="row px-20 my-4">
          <!--设备-->
          <div class="col">
            <angular2-multiselect [data]="deviceList" [(ngModel)]="deviceSelected" (onSelect)="onDeviceSelected($event)"
                                  [settings]="deviceSettings">
              <c-item>
                <ng-template let-item="item">
                  <label style="min-width: 60%;">{{item.itemName}}</label>
                </ng-template>
              </c-item>
            </angular2-multiselect>
          </div>
          <!--设备数量-->
          <div class="col">
            <angular2-multiselect [data]="deviceNumList" [(ngModel)]="deviceNumSelected"
                                  (onSelect)="onDeviceNumSelected($event)"
                                  [settings]="deviceNumSettings">
              <c-item>
                <ng-template let-item="item">
                  <label style="min-width: 60%;">{{item.itemName}}</label>
                </ng-template>
              </c-item>
            </angular2-multiselect>
          </div>
        </div>

        <div class="row px-20 my-4" *ngIf="!isLabSelected||!isDeviceSelected">
          <!--输入设备名-->
          <div class="col">
            <div *ngIf="!isDeviceSelected">
              <label for="formDevice">请输入设备名</label>
              <input type="text" id="formDevice" class="form-control" [(ngModel)]="applyModel.deviceName">
            </div>
          </div>
          <!--输入实验室名-->
          <div class="col">
            <div *ngIf="!isLabSelected">
              <label for="formLab">请输入实验室名</label>
              <input type="text" id="formLab" class="form-control" [(ngModel)]="applyModel.labName">
            </div>
          </div>
        </div>

        <div class="row px-20 my-4">
          <!--导师-->
          <div class="col">
            <angular2-multiselect [data]="tutorList" [(ngModel)]="tutorSelected" (onSelect)="onTutorSelected($event)"
                                  [settings]="tutorSettings">
              <c-item>
                <ng-template let-item="item">
                  <label style="min-width: 60%;">{{item.itemName}}</label>
                </ng-template>
              </c-item>
            </angular2-multiselect>
          </div>
          <!--日期-->
          <div class="col">
            <div class="md-form">
              <input type="date" id="formDate" class="form-control" [(ngModel)]="applyModel.date">
              <label for="formDate">日期</label>
            </div>
          </div>
        </div>

        <div class="row px-20">
          <!--开始时间-->
          <div class="col">
            <div class="md-form">
              <input type="time" id="formStart" class="form-control" [(ngModel)]="applyModel.startTime">
              <label for="formStart">开始时间</label>
            </div>
          </div>
          <!--结束时间-->
          <div class="col">
            <div class="md-form">
              <input type="time" id="formOver" class="form-control" [(ngModel)]="applyModel.overTime">
              <label for="formOver">结束时间</label>
            </div>
          </div>
        </div>
        <div class="row px-50">
          <!--备注-->
          <div class="col z-depth-1 my-4 ">
            <div class="md-form px">
              <mdb-icon fas icon="pencil-alt" class="prefix "></mdb-icon>
              <textarea type="text" id="form8" class="md-textarea form-control" [(ngModel)]="applyModel.ps"
                        mdbInput
                        [formControl]="psFormControl"></textarea>
              <label for="form8">备注.....</label>
            </div>
          </div>
        </div>


        <!-- Regular usage -->
        <!-- <re-captcha (resolved)="resolved($event)" siteKey="YOUR_SITE_KEY"></re-captcha> -->

        <div class="text-center">
          <button mdbBtn class="btn blue-gradient" mdbWavesEffect (click)="submit();">确定</button>
        </div>

      </mdb-card-body>

    </mdb-card>
    <!--Form with header-->
    <mdb-card>


    </mdb-card>
    <!--Form with header-->

  </div>
  <!--Grid column-->
</div>
<div mdbModal #failModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p *ngIf="feedback==-1" class="heading">原密码输入错误！</p>
        <p *ngIf="feedback==0" class="heading">预约失败！</p>
        <p *ngIf="feedback==2" class="heading">意料之外的错误！</p>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="danger" outline="true" class="waves-light" mdbWavesEffect data-dismiss="modal"
           (click)="failModal.hide()">确定</a>
      </div>
      <strong>若一直预约不了请联系管理员</strong>
    </div>
    <!--/.Content-->
  </div>
</div>
<div mdbModal #successModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">预约成功！</p>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="success" outline="true" class="waves-light" mdbWavesEffect data-dismiss="modal"
           routerLink="/home/record"
           (click)="successModal.hide();">确定</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
